body{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 70%;
	margin: 0 auto;
}
.left_area{
	/*border: 2px solid red;*/
	width: 44%;
	float: left;
	padding: 15px;
	box-sizing: border-box;
}
.top{
	/*border: 2px solid orange;*/
	height: 300px;
}
.round{
	width: 142px;
    margin: 0 auto;
    height: 144px;
    border-radius: 50%;
    background: blue;
    margin-top: 12px;
}
.text{
	text-align: center;
}
/*ends top*/
/*profile*/
.pro{
	margin-left: 60px;
}
.profile{
	/*border: 2px solid black;*/
	height: 300px;
}
/*ends profile*/
/*start contact*/
.contact{
	/*border: 2px solid orange;*/
	height: 300px;
}
.con{
	margin-left: 60px;
}
.contactleft{
	width: 50%
	float: left;
	display: inline-block;
	color: blue;
	margin-left: 72px;
}
.contactright{
	float: right;
	width: 50%;
	display: inline-block;
	margin-right: 81px;
}
/*contact ends*/
/*skill start*/
.skills{
	/*border: 2px solid orange;*/
	height: 300px;
}
.ski{
	margin-left: 60px;
}
.skill{

}
.skilltext{
	text-align: center;
}
/*skill ends*/

/*start right*/
span{
	font-weight: normal;
	color: black;
}
h2,h3{
	color: blue;
}
.right_area{
	float: right;
	/*border: 2px solid orange;*/
	width: 48%;
	padding: 7px;
	box-sizing: border-box;
}
.education{
	/*border: 2px solid orange;*/
	/*height: 300px;*/
}
.head{
	margin-left: 60px;
}
.experience{
	/*border: 2px solid orange;*/
}
.exe{
	margin-left: 60px;
}
.mas h3{
	color: black;
}
.software{
	/*border: 2px solid orange;*/
}
.soft h2{
	margin-left: 60px;
}
.leftsoft{
	width: 50%;
	float: left;
	display: inline-block;
}
.rightsoft{
	width: 50%;
	float: right;
	display: inline-block;
}
img{
	height: 39px;
    width: 36px;
    float: left;
    margin-right: 17px;
}
.both{
	/*border: 2px solid orange;*/
}
.photo{

}
.line{
	    height: 9px;
    width: 127px;
    /*border: 1px solid red;*/
    background: blue;
}